*{
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.corpo{
    width: 645px;
    display: block;
}

.email{
    width: 645px;
}